.cart_container{
  margin-bottom: 50px;
}

.cart_header{
  margin-top: -10px;
  height: 600px;
  background-image: url("https://live.staticflickr.com/4888/32709587258_69776f7a30_b.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}